@import 'variable';


body {
  background-color: #2d2d2d;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin-top: 60px;
  text-align: center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding: 0;
}

li {
  display: inline-block;
  margin: 10px 10px 0;
}

a {
  color: $color-blue;
}

pre {
  white-space: pre-wrap;
  padding: 10px;
  border-radius: 4px;
  background: rgba(245, 245, 255, 0.1);
}

code {
  font-family: 'Monaco', sans-serif;
  font-size: 12px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

blockquote {
  font-style: italic;
}

p {
  code {
    margin: 0 4px;
    padding: 4px 6px;
    color: $color-green;
    border-radius: 2px;
    background: rgba($color-green, 0.1);
  }
}

.loading {
  font-size: 24px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 10, 10, 0.8);
}
